
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- Features End -->
<!-- Main Post Section Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-7 col-xl-8 mt-0">
                <div class="position-relative overflow-hidden rounded">
                    <img src="~/assest/img/3117.jpg" class="img-fluid rounded img-zoomin w-100" alt="">
                    <div class="d-flex justify-content-center px-4 position-absolute flex-wrap" style="bottom: 10px; left: 0;">
                        <!--<a href="#" class="text-white me-3 link-hover"><i class="fa fa-clock"></i> 06 minute read</a>
                        <a href="#" class="text-white me-3 link-hover"><i class="fa fa-eye"></i> 3.5k Views</a>
                        <a href="#" class="text-white me-3 link-hover"><i class="fa fa-comment-dots"></i> 05 Comment</a>
                        <a href="#" class="text-white link-hover"><i class="fa fa-arrow-up"></i> 1.5k Share</a>-->
                    </div>
                </div>
                <div class="border-bottom py-3">
                    <a href="#" class="display-4 text-dark mb-0 link-hover" style="font-size:25px;">প্রধানমন্ত্রীকে অভিনন্দন জানিয়েছে হাঙ্গেরি ও কিরগিজস্তান</a>
                </div>
                <p class="mt-3 mb-4">
                    কিরগিজস্তানের প্রেসিডেন্ট সাদির জাপারভ ও হাঙ্গেরির প্রধানমন্ত্রী ভিক্টর অরবান সম্প্রতি বাংলাদেশের প্রধানমন্ত্রী হিসাবে শেখ হাসিনা আবারও নির্বাচিত হওয়ায় শুভেচ্ছা ও অভিনন্দন জানিয়েছেন। পৃথক বার্তায় তারা বাংলাদেশের ...
                </p>
                <div class="bg-light p-4 rounded">
                    <div class="news-2">
                        <h3 class="mb-4">এক্সক্লুসিভ</h3>
                    </div>
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="rounded overflow-hidden">
                                <img src="~/assest/img/3120.jpg" class="img-fluid rounded img-zoomin w-100" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex flex-column">
                                <a href="#" class="h5">নতুন পরিকল্পনায় পুনরুদ্যমে আন্দোলনের মাঠে বিএনপি</a>
                                <p class="h7">নির্বাচনের ১৮ দিন পর আবারো আন্দোলনে মাঠে বিএনপি। তবে যুগপৎ আন্দোলনের শরিকরা এবারের কর্মসূচিতে বিএনপির সাথে নেই। নির্বাচনের আগে জামায়াতে ...</p>
                                <p class="h4"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 pt-0">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="rounded overflow-hidden">
                                <img src="~/assest/img/3120.jpg" class="img-fluid rounded img-zoomin w-100" alt="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <a href="#" class="h4 mb-2">নতুন পরিকল্পনায় পুনরুদ্যমে আন্দোলনের মাঠে বিএনপি</a>
                                <p class="fs-5 mb-0"></p>
                                <p class="fs-5 mb-0"></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row g-4 align-items-center">
                                <div class="col-5">
                                    <div class="overflow-hidden rounded">
                                        <img src="~/assest/img/3114.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="features-content d-flex flex-column">
                                        <a href="#" class="h6">	সৌদি আরবে এবার মদের দোকান</a>
                                        <small><i class="fa fa-clock"> 06 minute read</i> </small>
                                        <small><i class="fa fa-eye"> 3.5k Views</i></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row g-4 align-items-center">
                                <div class="col-5">
                                    <div class="overflow-hidden rounded">
                                        <img src="~/assest/img/3109.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="features-content d-flex flex-column">
                                        <a href="#" class="h6">	বেনাপোল বন্দরে যাত্রী বাড়লেও বাড়েনি সুযোগ-সুবিধা</a>
                                        <small><i class="fa fa-clock"> 06 minute read</i> </small>
                                        <small><i class="fa fa-eye"> 3.5k Views</i></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row g-4 align-items-center">
                                <div class="col-5">
                                    <div class="overflow-hidden rounded">
                                        <img src="~/assest/img/3117.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="features-content d-flex flex-column">
                                        <a href="#" class="h6">প্রধানমন্ত্রীকে অভিনন্দন জানিয়েছে হাঙ্গেরি ও কিরগিজস্তান</a>
                                        <small><i class="fa fa-clock"> 06 minute read</i> </small>
                                        <small><i class="fa fa-eye"> 3.5k Views</i></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-12">
                        <div class="row g-4 align-items-center">
                            <div class="col-5">
                                <div class="overflow-hidden rounded">
                                    <img src="~/assest/img/news-6.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="features-content d-flex flex-column">
                                    <a href="#" class="h6">Get the best speak market, news.</a>
                                    <small><i class="fa fa-clock"> 06 minute read</i> </small>
                                    <small><i class="fa fa-eye"> 3.5k Views</i></small>
                                </div>
                            </div>
                            </div>
                        </div>-->
                        <div class="col-12">
                            <div class="row g-4 align-items-center">
                                <div class="col-5">
                                    <div class="overflow-hidden rounded">
                                        <img src="~/assest/img/3111.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="features-content d-flex flex-column">
                                        <a href="#" class="h6">পাকিস্তানের নির্বাচনে ব্যাট এখন নওয়াজ শরীফের হাতে</a>
                                        <small><i class="fa fa-clock"> 06 minute read</i> </small>
                                        <small><i class="fa fa-eye"> 3.5k Views</i></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-12">
                            <div class="row g-4 align-items-center">
                                <div class="col-5">
                                    <div class="overflow-hidden rounded">
                                        <img src="~/assest/img/news-7.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="features-content d-flex flex-column">
                                        <a href="#" class="h6">Get the best speak market, news.</a>
                                        <small><i class="fa fa-clock"> 06 minute read</i> </small>
                                        <small><i class="fa fa-eye"> 3.5k Views</i></small>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Post Section End -->
<!-- Banner Start -->
<!--<div class="container-fluid py-5 my-5" style="background: linear-gradient(rgba(202, 203, 185, 1), rgba(202, 203, 185, 1));">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-lg-7">
                <h1 class="mb-4 text-primary">Newsers</h1>
                <h1 class="mb-4">Get Every Weekly Updates</h1>
                <p class="text-dark mb-4 pb-2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                </p>
                <div class="position-relative mx-auto">
                    <input class="form-control w-100 py-3 rounded-pill" type="email" placeholder="Your Busines Email">
                    <button type="submit" class="btn btn-primary py-3 px-5 position-absolute rounded-pill text-white h-100" style="top: 0; right: 0;">Subscribe Now</button>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="rounded">
                    <img src="~/assest/img/banner-img.jpg" class="img-fluid rounded w-100 rounded" alt="">
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Banner End -->
<!-- Latest News Start -->
<div class="container-fluid latest-news py-5">
    <div class="container py-5">
        <h2 class="mb-4">সর্বশেষ সংবাদ</h2>
        <div class="latest-news-carousel owl-carousel">
            <div class="latest-news-item">
                <div class="bg-light rounded">
                    <div class="rounded-top overflow-hidden">
                        <img src="~/assest/img/3120.jpg" class="img-zoomin img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="d-flex flex-column p-4">
                        <a href="#" class="h4">নতুন পরিকল্পনায় পুনরুদ্যমে আন্দোলনের মাঠে বিএনপি</a>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="small text-body link-hover">by Willum Skeem</a>
                            <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="latest-news-item">
                <div class="bg-light rounded">
                    <div class="rounded-top overflow-hidden">
                        <img src="~/assest/img/3119.jpg" class="img-zoomin img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="d-flex flex-column p-4">
                        <a href="#" class="h4">জাতীয় পার্টিতে আবারও ভাঙনের সুর</a>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="small text-body link-hover">by Willum Skeem</a>
                            <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="latest-news-item">
                <div class="bg-light rounded">
                    <div class="rounded-top overflow-hidden">
                        <img src="~/assest/img/3117.jpg" class="img-zoomin img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="d-flex flex-column p-4">
                        <a href="#" class="h4">প্রধানমন্ত্রীকে অভিনন্দন জানিয়েছে হাঙ্গেরি ও কিরগিজস্তান</a>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="small text-body link-hover">by Willum Skeem</a>
                            <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="latest-news-item">
                <div class="bg-light rounded">
                    <div class="rounded-top overflow-hidden">
                        <img src="~/assest/img/3109.jpg" class="img-zoomin img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="d-flex flex-column p-4">
                        <a href="#" class="h4">বেনাপোল বন্দরে যাত্রী বাড়লেও বাড়েনি সুযোগ-সুবিধা</a>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="small text-body link-hover">by Willum Skeem</a>
                            <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="latest-news-item">
                <div class="bg-light rounded">
                    <div class="rounded-top overflow-hidden">
                        <img src="~/assest/img/news-5.jpg" class="img-zoomin img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="d-flex flex-column p-4">
                        <a href="#" class="h4 ">Lorem Ipsum is simply dummy text of...</a>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="small text-body link-hover">by Willum Skeem</a>
                            <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Latest News End -->
<!-- Most Populer News Start -->
<div class="container-fluid populer-news py-5">
    <div class="container py-5">
        <div class="tab-class mb-4">
            <div class="row g-4">
                <div class="col-lg-8 col-xl-12">
                    <div class="d-flex flex-column flex-md-row justify-content-md-between border-bottom mb-4">
                        <h1 class="mb-4">সাম্প্রতিক খবর</h1>
                        <ul class="nav nav-pills d-inline-flex text-center">
                            <li class="nav-item mb-3">
                                <a class="d-flex py-2 bg-light rounded-pill active me-2" data-bs-toggle="pill" href="#tab-1">
                                    <span class="text-dark" style="width: 100px;">ভিডিও</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="tab-content mb-4">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-8">
                                    <div class="position-relative rounded overflow-hidden">
                                        <img src="~/assest/img/3118.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                                        <div class="position-absolute text-white px-4 py-2 bg-primary rounded" style="top: 20px; right: 20px;">
                                            ভিডিও
                                        </div>
                                    </div>
                                    <div class="my-4">
                                        <a href="#" class="h4">অনূর্ধ্ব -১৯ বিশ্বকাপের যুক্তরাষ্ট্রকে উড়িয়ে দিয়েছে বাংলাদেশ</a>
                                    </div>
                                    <!--<div class="d-flex justify-content-between">
                        <a href="#" class="text-dark link-hover me-3"><i class="fa fa-clock"></i> 06 minute read</a>
                        <a href="#" class="text-dark link-hover me-3"><i class="fa fa-eye"></i> 3.5k Views</a>
                        <a href="#" class="text-dark link-hover me-3"><i class="fa fa-comment-dots"></i> 05 Comment</a>
                        <a href="#" class="text-dark link-hover"><i class="fa fa-arrow-up"></i> 1.5k Share</a>
                    </div>-->
                                    <p class="my-4">
                                        যুক্তরাষ্ট্রকে হারিয়ে সহজেই বিশ্বকাপের সুপার সিক্স নিশ্চিত করল বাংলাদেশের যুবারা। শুক্রবার গ্রুপের শেষ ম্যাচে যুক্তরাষ্ট্রকে হারিয়ে অনূর্ধ্ব-১৯ বিশ্বকাপের সেমিফাইনালে উঠে বাংলাদেশ। এ জয়ের মাধ্যমে শিরোপা পুনরুদ্ধারের অভিযানে আরও একধাপ এগিয়ে গেল রাব্বি-শিবলীরা।

                                        দক্ষিণ আফ্রিকার ব্লুমফন্টেইনের মাঙ্গাউং ...
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row g-4">
                                        <div class="col-12">
                                            <div class="row g-4 align-items-center">
                                                <div class="col-5">
                                                    <div class="overflow-hidden rounded">
                                                        <img src="~/assest/img/3110.jpeg" class="img-zoomin img-fluid rounded w-100" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-7">
                                                    <div class="features-content d-flex flex-column">
                                                        <p class="text-uppercase mb-2">ভিডিও</p>
                                                        <a href="#" class="h6">সিলেটে বিপিএলের টিকিট নিয়ে কালোবাজারি</a>
                                                        <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row g-4 align-items-center">
                                                <div class="col-5">
                                                    <div class="overflow-hidden rounded">
                                                        <img src="~/assest/img/3089.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-7">
                                                    <div class="features-content d-flex flex-column">
                                                        <p class="text-uppercase mb-2">ভিডিও</p>
                                                        <a href="#" class="h6">বিদেশে ক্যাম্প করতে চান কোচ হাভিয়ের ক্যাবরেরা</a>
                                                        <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row g-4 align-items-center">
                                                <div class="col-5">
                                                    <div class="overflow-hidden rounded">
                                                        <img src="~/assest/img/3081.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-7">
                                                    <div class="features-content d-flex flex-column">
                                                        <p class="text-uppercase mb-2">ভিডিও</p>
                                                        <a href="#" class="h6">বিশ্বকাপের পর প্রথম জয়ের দেখা পেল পাকিস্তান</a>
                                                        <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row g-4 align-items-center">
                                                <div class="col-5">
                                                    <div class="overflow-hidden rounded">
                                                        <img src="~/assest/img/3070.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-7">
                                                    <div class="features-content d-flex flex-column">
                                                        <p class="text-uppercase mb-2">ভিডিও</p>
                                                        <a href="#" class="h6">টস জিতে সাকিবের রংপুরকে ব্যাটিংয়ে পাঠালেন তামিম</a>
                                                        <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom mb-4">
                        <h2 class="my-4">সর্বাধিক দেখা খবর</h2>
                    </div>
                    <div class="whats-carousel owl-carousel">
                        <div class="latest-news-item">
                            <div class="bg-light rounded">
                                <div class="rounded-top overflow-hidden">
                                    <img src="~/assest/img/3114.jpg" class="img-zoomin img-fluid rounded-top w-100" alt="">
                                </div>
                                <div class="d-flex flex-column p-4">
                                    <a href="#" class="h4">সৌদি আরবে এবার মদের দোকান</a>
                                    <div class="d-flex justify-content-between">
                                        <a href="#" class="small text-body link-hover">by Willium Smith</a>
                                        <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="whats-item">
                            <div class="bg-light rounded">
                                <div class="rounded-top overflow-hidden">
                                    <img src="~/assest/img/3117.jpg" class="img-zoomin img-fluid rounded-top w-100" alt="">
                                </div>
                                <div class="d-flex flex-column p-4">
                                    <a href="#" class="h4">প্রধানমন্ত্রীকে অভিনন্দন জানিয়েছে হাঙ্গেরি ও কিরগিজস্তান</a>
                                    <div class="d-flex justify-content-between">
                                        <a href="#" class="small text-body link-hover">by Willium Smith</a>
                                        <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="whats-item">
                            <div class="bg-light rounded">
                                <div class="rounded-top overflow-hidden">
                                    <img src="~/assest/img/3109.jpg" class="img-zoomin img-fluid rounded-top w-100" alt="">
                                </div>
                                <div class="d-flex flex-column p-4">
                                    <a href="#" class="h4">বেনাপোল বন্দরে যাত্রী বাড়লেও বাড়েনি সুযোগ-সুবিধা</a>
                                    <div class="d-flex justify-content-between">
                                        <a href="#" class="small text-body link-hover">by Willium Smith</a>
                                        <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="whats-item">
                            <div class="bg-light rounded">
                                <div class="rounded-top overflow-hidden">
                                    <img src="~/assest/img/3111.jpg" class="img-zoomin img-fluid rounded-top w-100" alt="">
                                </div>
                                <div class="d-flex flex-column p-4">
                                    <a href="#" class="h4">পাকিস্তানের নির্বাচনে ব্যাট এখন নওয়াজ শরীফের হাতে</a>
                                    <div class="d-flex justify-content-between">
                                        <a href="#" class="small text-body link-hover">by Willium Smith</a>
                                        <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="whats-item">
                            <div class="bg-light rounded">
                                <div class="rounded-top overflow-hidden">
                                    <img src="~/assest/img/3107.jpg" class="img-zoomin img-fluid rounded-top w-100" alt="">
                                </div>
                                <div class="d-flex flex-column p-4">
                                    <a href="#" class="h4">কানাডা ছাত্র ভিসার সংখ্যা কমালে বাংলাদেশিদের ওপর প্রভাব পড়বে না</a>
                                    <div class="d-flex justify-content-between">
                                        <a href="#" class="small text-body link-hover">by Willium Smith</a>
                                        <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--লাইফ স্টাইল was here-->
                </div>
                <!--stay connecter was here-->
            </div>
        </div>
    </div>
</div>

